<p>Logged in?: <%= current_usr != nil %></p>
<% if current_usr %>
    <p>Email: <%= current_usr.email %></p>
    <p>Account: <%= current_usr.accounts.first.value.to_s %>
<% end %>
<button class="clipboard-btn btn btn-primary" data-clipboard-text="It worked!">Click me</button>
<!-- Example 2: with Target source -->
<textarea id="bar">Mussum ipsum cacilds...</textarea>

<!-- Trigger -->
<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
  Copy to clipboard
</button>