<p>Logged in?: <%= Current.user != nil %></p>
<% if Current.user %>
    <p>Email: <%= Current.user.email %></p>
    <p>Account: <%= Current.user.accounts.first.value.to_s %>
<% end %>
<button class="clipboard-btn btn btn-primary" data-clipboard-text="It worked!">Click me</button>
<!-- Example 2: with Target source -->
<textarea id="bar">Mussum ipsum cacilds...</textarea>

<!-- Trigger -->
<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
  Copy to clipboard
</button>